{:bugs/http-server {:port    #long #or [#env PORT 3000]
                    :handler #ig/ref :bugs/handler}
 :bugs/handler     {:db      #ig/ref :bugs/db
                    :selma   #ig/ref :bugs/selma
                    :profile #profile{:dev :dev :prod :prod}}
 :bugs/db          {:jdbcUrl
                    #or [#env "BUGS_DB_URI"
                         "jdbc:postgresql://localhost:5432/bugs?user=bugs&password=bugs"]}
 :bugs/selma       {:templates-dir "templates"}}
