{:bugs/jetty   {:port    3000
                :handler #ig/ref :bugs/handler
                :selma   #ig/ref :bugs/selma}
 :bugs/handler {:db #ig/ref :bugs/db}
 :bugs/db      {:dbtype "postgresql" :dbname "bugs" :user "bugs" :password "bugs"}
 :bugs/selma   {:templates-dir "templates"}}
