{:up   ["CREATE TABLE bugs (
           id serial PRIMARY KEY,
           created_at timestamp without time zone DEFAULT now() NOT NULL,
           name text NOT NULL
         );"]
 :down ["DROP TABLE bugs;"]}
